:root {
  --main-containers-color: #015e78;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
html {
  background-color: var(--main-containers-color);
  overflow: hidden;
}
body {
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
  margin: 0;
}
input, button, select {
  border: none;
}
::placeholder {
  color: #767676;
}
.audio-container {
  position: relative;
}
.audio-container span {
  position: absolute;
  left: 44px;
  top: 52px;
}
#audio-slider {
  transform: rotate(270deg);
  position: absolute;
  left: -10px;
  top: -30px;
}
@-moz-document url-prefix() { 
  .audio-container span {
    position: absolute;
    left: 59px;
    top: 67px;
  }
}
#settings {
  display: none;
  text-align: left;
  font-size: 1.3rem;
  animation: slideIn .4s ease-out;
  animation-fill-mode: forwards;
}
@keyframes slideIn {
  0% {
    transform: translateX(100%)
  }
  100% {
    transform: translateX(0)
  }
}
.settings-close {
  position: absolute;
  top: 2px;
  right: 10px;
  cursor: pointer;
  text-align: end;
  width: 18px;
  padding: 10px;
}
.settings-container li {
  margin: 1rem 0;
}
.settings-container {
  width: 40%;
  max-width: 350px;
  height: 50vh;
  background-image: linear-gradient(358deg, #4b84ab -20%, #04619f 74%);
  position: absolute;
  top: 65px;
  right: 0;
  z-index: 101;
  padding: 10px 15px;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
}
.settings-container h3 {
  font-size: 1.8rem;
}
.settings-icons {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 40px;
  right: 40px;
  height: 55px;
  z-index: 0;
}
.settings-icons i {
  position: relative;
}
.fa-gear {
  color: #6ab6cb;
  top: 10px;
  right: 5px;
}
.fa-droplet {
  color: #1a93fc;
  top: 6px;
  right: -36px;
  z-index: 10;
}
.body-container {
  /* margin-top: 8%; */
  height: 100vh;
  background-color: #00536bab;
  font-family: 'Crimson Text', serif;
}
.start-of-day-container,
.preset-container,
.water-intake-container,
.user-target-container,
.achievements-container div {
  background-color: #005770;
  border-radius: 10px;
}
.achievements-container {
  float: left;
  margin: 2rem 0 0 2rem;
  padding: 0 1rem 0 2rem;
  width: 25%;
}
.achievements-container div {
  text-align: left;
  margin: 15px 0;
}
.achievements-container, .info-container {
  background-color: var(--main-containers-color);
  height: 92vh;
}
.achievements-list {
  padding: 10px 15px;
}
.achievement {
  display: flex;
  align-items: center;
}
.achievement span {
  margin-left: 5px;
}
.start-of-day-container,
.preset-options.hidden {
  visibility: hidden;
}
.start-of-day-container input {
  margin: 0 6px;
  font-size: .75em;
}
.water-rec {
  font-size: .85em;
}
.start-of-day-container, 
.user-target-container {
  position: relative;
  font-size: 1.3em;
  width: fit-content;
  margin: .5rem auto;
  padding: .65rem;
}
.notice {
  position: absolute;
  font-size: .8rem;
  color: #d2d2d2;
}
.start-of-day-container .notice {
  top: 47px;
  right: 105px;
}
#settings .notice {
  top: 93px;
  right: 105px;
}
.target-picker-input {
  margin: 0 .1rem 0 .3rem;
  width: 30px;
  font-size: 1rem;
}
.unit-of-measurement {
  font-size: .8em;
  margin: 0 .5rem 0 0;
}
.time-picker-submit, 
.target-picker {
  font-size: 1.15rem;
  background: #f27e7c;
  border-radius: 5px;
}
.fa-solid, .fas {
  font-size: 90%;
}
.info-container {
  float: right;
  margin: 2rem 2rem 0 0;
  padding: 0 2rem 0 1rem;
  width: 60%;
}
.body-info {
  display: none;
  justify-content: center;
  align-items: center;
}
.preset-container {
  max-width: 9.7rem;
}
.preset-container, .water-intake-container {
  margin: 1rem;
  padding: 1rem;
  min-height: 16rem;
}
.preset-addition {
  display: grid;
}
.preset-addition button {
  margin-top: 0.5rem;
  background-color: #9d9d9d;
  padding: .3rem 0;
  font-weight: 600;
}
.preset-container input {
  width: 55px;
  padding: 5px 10px;
}
.preset-options {
  margin-top: 1rem;
}
.water-intake-form input, .water-intake-form button {
  font-size: 1.4rem;
}
.water-intake-title {
  font-size: 2rem;
}
.water-intake-form {
  margin: 1rem 0 2rem 0;
}
.water-intake-form button {
  margin-left: 2rem;
  font-size: 2rem;
  border-radius: 10px;
  border: 3px solid #f27f7f;
  background: #f27e7c;
}
#undo_water {
  font-size: 1.05rem;
  margin-left: 1.2rem;
}
:disabled {
  background-color: #9b9b9b;
  border: 3px solid #9b9b9b;
}
.user-target-container,
.gif-animation {
  display: none;
}
.water-bottle {
  height: 350px;
}
.gif-animation img {
  width: 180px;
  height: 300px;
  left: 9.9%;
  border-radius: 18px;
}
h1 {
  font-family: 'Sansita Swashed', 'cursive', sans-serif;
  letter-spacing: 0.1rem;
  color: #f27f7f;
}
h2 {
  text-align: center;
  font-size: 1.4rem;
  font-weight: normal;
  margin: 0 0 1rem 0;
}
img {
  position: absolute;
  bottom: 40px;
  left: 9.5%;
  width: 190px;
}
#input_water_intake {
  margin-right: 2px;
  background-color: #6eacbe;
  border: 2px solid #6eacbe;
  border-radius: 10px;
  text-align: center;
  width: 30px;
}
select {
  min-width: 9em;
  padding: 0 15px 0 4px;
}